.section-title {
    color: #3C3C3B;
    font-family: "Avenir Next LT Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.user-name {
    color: #3C3C3B;
    font-family: "Avenir Next LT Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 45px;
    text-align: center;
}

.user-name.project {
    margin: 6px 0
}

.user-designation {
    color: #3C3C3B;
    font-family: "Avenir Next LT Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 6px 0;
    text-align: center;
}